body {
    margin: 0;
}
.header {
    width: 100%;
    background-color: rgb(175, 6, 6);
    padding: 10px;
    height: 120px;
}
.headerpicture {
    float: left;
    margin: 0px;
    width: 120px;
    height: 120px;
}
.headerback {
    background-color: rgb(187, 50, 141);
    padding: 10px;
    font-family: sans-serif;
}
.nav {
    max-width: 1033px;
    background-color: rgb(250, 246, 14);
    margin: 0 auto;
    margin-top: 14px;
    padding: 20px;
    border-radius: 12px;
}
.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 733px;
    background-color: rgba(0, 255, 64, 0.564);
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 13px;
}
.navtable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 739px;
    background-color: rgb(40, 38, 167);
    margin: 0 auto;
    margin-top: 6px;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
}
table {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(30, 101, 110);
    border-collapse: collapse;
    border-spacing: 5px;
    color: #90393d;
    border: 8px solid rgb(72, 156, 33);
}
th {
    background-color: #AFCDE7;
    color: #8A4343;
    font-size: 17px;
    padding: 31px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
td {
    padding: 19px;
    border-style: solid;
    border-width: 2px;
    border-color: #0A0606;
}
.even {
    background-color: #8C9B6E;
}
.navform {
    max-width: 800px;
    background-color: #00BFFF;
    margin: 0 auto;
    margin-top: 7px;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
}
.footer {
    width: 90%;
    background-color: #72D944;
    margin: 50px;
    padding: 50px;
    font-family: sans-serif;
    border-radius: 20px;
}
.footerspan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #083008;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
}

	
